[user]
	name = Jackson Hoffart
	email = jackson.hoffart@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
 	editor = nvim
 	excludesfile = /Users/jdhoffa/.gitignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	path = nvim
